*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-main {
    width: auto;
    height: auto;
    background-image: url(images/header-bg.jpeg);
    background-repeat: no-repeat;
    margin: auto;
    background-size: cover;
    border-bottom: 2px solid gold;
}

.heder-main-box {
    width: 1200px;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.header-logo {
    width: 35%;
    align-items: center;
    margin-top: 18px;
}

.header-social-media {
    width: 35%;
    margin-top: 25px;
}

.header-logo img {
    max-width: 100%;
}

.header-social-media nav ul {
    list-style: none;
    display: flex;
    float: right;
}

.header-social-media nav ul li a {
    text-decoration: none;
    color: wheat;
    margin-left: 19px;
    font-size: 20px;
}


.phone-number li a {
    color: wheat;
    text-decoration: none;
    text-align: right;
}

.phone-number li {
    list-style: none;
    text-align: right;
}

.phone-number {
    margin-top: 37px;
    margin-bottom: 13px;
}

.header-social-media nav ul li {
    text-align: right;
}



.dropdown-menu-box {
    width: auto;
    height: auto;
    background: #132634;
}

.dropdown-menu {
    width: 1200px;
    height: auto;
    margin: auto;
    passi
}

.dropdown-menu nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;

}

.dropdown-menu nav ul li a {
    text-decoration: none;
    color: white;
}

.dropdown-menu nav ul li {
    position: relative;
}

.dropdown-menu nav ul li:hover .sub-menu {
    color: gold;
    display: block;
    list-style: none;
    width:max-content
    background-color: #132634;
}


.dropdown-menu nav ul li ul {
    position: absolute;
}

ul.sub-menu li {
    width: max-content;
}

ul.sub-menu li {
    width: max-content;
    margin-top: 15px;
    margin-bottom: 15px;
}



ul.sub-menu {
    display: none;
    list-style: none;
 }


 .slider-box {
    width: auto;
    margin: auto;
    height: auto;
}

.sliderimagetext{
    position: relative;

}

.bx-wrapper,
.slidermain {
    height: auto;
    margin: auto;
    width: auto;
}

.slidertext h1 {
    text-align: center;
    font-size: 300px !important; 
    margin: 10px;     
}

.slidertext {
    position: absolute;
    bottom: 0px;
    left: 0;
    color: wheat;
    background-color: rgba(0,0,0, .5);
    width: 100%;
}

.bx-wrapper,
.slidermain img {
    width: 100%;
}



.featured-main {
    margin: auto;
    width: auto;
    height: auto;
    background-image: url(images/body-bg.jpg);
}


.featured-image-text-main {
    width: 1200px;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.featured-image-text {
    width: 22%;
    height: auto;
    border-radius: 14px;
    overflow: hidden;
    position: relative;
    background: #b9a5a5;
}

.featured-image img {
    max-width: 100%;
}

.featured-image {
    width: 100%;
    height: 269px;
}


.featured-text {
    width: 1200px;
    margin: auto;
    margin-top: 64px;
    margin-bottom: 40px;
}

.featured-text h1 {
    font-size: 45px;
    text-align: center;
}


.featured-text-part {
    position: absolute;
    bottom: 22px;
    background-color: rgba(0,0,0, .5);
    width: 100%;
    text-align: left;
    font-size: 14px;
    color: white;
    padding-left: 13px;
    padding-bottom: 8px;
}


.featured-text-part .read-more {
    text-decoration: none;
    font-size: 30px;
    color: wheat;
    padding-top: 15px;
}




.featured-text-part h2 {
    margin-bottom: 22px;
}







.footer-main {
    width: auto;
    height: auto;
    background:     #132634;
    margin-top: 50px;
    padding-bottom: 25px;
}

.footer-main-box {
    width: 800px;
    height: auto;
    margin: auto;
    padding-top: 1px;
}

.footer-logo img {
    max-width: 100%;
    margin-top: 50px;
    display: block;
}

.footer-logo {
    margin: auto;
    margin-bottom: 30px;
}


.footer-social-media nav ul li {
    align-items: none;
}

.footer-social-media nav ul li a {
    text-decoration: none;
    color: wheat;
    font-size: 30px;
    margin: 15px;
    font-size: 40px;
}

.footer-social-media>nav>ul {
    display: flex;
    justify-content: center;
}


.footer-social-media nav ul li {
    list-style: none;
    display: block;

}


.footer-social-media nav ul li {
    display: block;
}


.footerapp01 {
    width: 30%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 10px;
}

.footerapp01 img {
    max-width: 100%;
}

.footer-app {
    display: flex;
    justify-content: center;
}

.footer-address h2 {
    color: wheat;
    text-align: center;
    margin-bottom: 25px;
}

.copyright h3 {
    color: wheat;
    text-align: center;
    margin-top: 40px;
}

.footer-address {
    border-bottom: 3px solid gold;
}

